# Python cache files
__pycache__/
*.py[cod]

# Local virtual environments
.venv/
venv/
env/

# Environment variable files
.env

# Streamlit secrets
.streamlit/secrets.toml

# IDE/editor settings
.vscode/
.idea/

# To exclude large data files
*.csv
*.json
*.xlsx
.DS_Store
